@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body,html,ul,ol,li,div,section,article,p,span,img,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
ul,ol,li{list-style: none;}
a,img{display: inline-block;}
img{max-width: 100%;}
a{text-decoration: none;}
html{font-size: 62.5%;}
body{
    position: relative;
    overflow-x: hidden;
    color:#333;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    word-break: keep-all;
    line-height: 1.5;
    background: #f7f2ed;
}
body::-webkit-scrollbar{display: none;}

.wd90{
    width:100%;
    max-width: 1440px;
    margin:auto;
}
.fwB{font-weight: bold;}
.fs18{font-size: 1.8rem;}
.fs14{font-size: 1.4rem;}

.pb15{padding-bottom: 15px;}


#intro{
    height: 120vh;
}
#about{
    height: 110vh;
}
#skills,#work{
    height: 100vh;
}
#about::after
,#skills::after{
    content:'';
    display: block;
    clear: both;
}

/*  스크롤 퍼센테이지 */
.scroll_progress {
    position: fixed;
    top:0;
    left:0;
    height:4px;
    background-color: #d1b1a2;
    z-index: 10;
}

/* intro */
/* 스크롤전 */
.its_me{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    position: absolute;
    left:0; right: 0;
    top: 5%;
    transition: .8s;
}

.its_me .my_photo{
    width:250px; height: auto;
    overflow: hidden;
    animation: circleSize2 .8s ease-in-out forwards;
}
.its_me .my_photo img{max-width: unset;}

.its_me .hello{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    line-height: 1.75;
}
.intro_txt {
    font-size: 2.5rem;
    font-weight: bold;
    transition: .5s;
    opacity: 0;
    padding-top: 50px;
    transform: translateY(-50px);
    animation: helloTxt .5s .8s ease-in-out forwards;
}
.its_me .contect_me,
.its_me .page_nav{display: none;}

@keyframes helloTxt {
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(-50px);
    }
}

/* 스크롤후 */

.its_me.in_about{
    max-width: 345px;
    width: 100%;
    background: #f7f2ed;
    box-shadow: 1px 1px 15px rgb(230, 221, 221);
    border-radius: 25px;
    margin:auto;
    position: fixed;
    right: 35%;
    top: 50%;
    transform: translate(-35%,-50%);
    z-index: 5;
}

.its_me.in_about .my_photo{
    transform: scale(1);
    animation: circleSize .8s ease-in-out forwards;
}
.its_me.in_about .hello{padding-top: 20px;}
.its_me.in_about .intro_txt{display: none;}
.its_me.in_about .contect_me,
.its_me.in_about .page_nav{display: block;}

.its_me.in_about .page_nav{
    margin-bottom: 10px;
}
.its_me.in_about .page_nav li{
    display: inline-block;
    margin-right:4px;
}
.its_me.in_about .page_nav li:last-child{margin-right: 0px;}
.its_me.in_about .page_nav a{
    font-size: 1.4rem;
    color:#755232;
}


.contect_me a{
    color:#333;
}
.contect_me a:hover{
    color:#755232;
}

@keyframes circleSize{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(.8);}
}

@keyframes circleSize2{
    0%{transform: scale(.8);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}




.its_me .my_photo img:hover {
    transform: translateX(0);
    height: auto;
  }
  .its_me .my_photo img:hover { animation: move-use-area .8s steps(6) infinite; }

  @keyframes move-use-area {
    to {transform: translateX(-100%)}
  }



/* skills에서 고정 */
.its_me.stop{
    position: absolute;
    top: 65%;
    transition: none;
}

/* 메인 콘텐츠 */
.about_cont,.skills_cont,.work_cont{
    transition: .5s;
}

.about_cont,.skills_cont{
    width: 58%;
    float: right;
    padding:16.5vw 0;
}


.com_fadein{opacity:0; transition:1.8s;}
.com_fadein.OP1{opacity:1;}


/* 경력사항 에리어 */
.history_list {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    flex-wrap: wrap;
    line-height: 2;
}
.history_list li{
    margin-right: 8px;
}
.history_list li::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 50%;
    margin:0 0 3px 8px;
    background-color: rgba(51, 51, 51, .5);
}
.history_list li:last-child:after{display: none;}

.history_list li a{
    color:#333;
    position: relative;
    padding:2px;
    font-size: 1.4rem;
}

.history_list li.no_click a::after{
    content:'';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: #755232;
    transition: ease-out 0.3s;
    z-index: -1;
}
    .history_list li.no_click a:hover{color:#fff; transition:ease-out 0.2s;}
    .history_list li.no_click a:hover::after{width: 100%; z-index: -1;}

    .history_list li.now_click a{background-color: #755232;}
    .history_list li.now_click a{color:#fff;}


.com_page{
    display: none;
    padding-top: 2vw;
}
.com_page.openPage{
    display: block;
}
.com_list{
    padding:2em;
}
.com_list li{
    list-style:square;
    line-height: 1.75;
}

/* 스킬트리 에리어 */

.progress_bar{
    padding-top: 15px;
}
.progress_bar li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1vw 0;
}
.progress_bar li p{width: 30%;}
.progress_bar li .skillPG {
    width: calc(100% - 30%);
}
progress {
    appearance: none;
    width: 25vw;
    height: 1.2vw;
}
progress::-webkit-progress-bar{
    background:#faf8f8;
    border-radius:10px;
    box-shadow: inset 1px 1px 10px rgb(240, 235, 235);
}
progress::-webkit-progress-value{
    border-radius:10px;
    transition: .5s;
    background: #f8c6aa;
    background: linear-gradient(to right, #f7f2ed, #f8c6aa);
}

/* 작업물 에리어 */
#work{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.work_cont{
    width: 100%;
    overflow: hidden;
}
.work_cont h2{
    padding: 5vw 0;
    text-align: center;
}

.slideArea{
    width: 100%;
    overflow: hidden;
}
.slideArea::after{
    content:'';
    display: block;
    width: 10%;
    height: 100vh;
    position: absolute;
    right: 0; bottom:0;
    background: linear-gradient(to right, rgba(0,0,0,0),#fcfaf8);
    z-index: 5;
}
.slideArea::before{
    content:'';
    display: block;
    width: 10%;
    height: 100vh;
    position: absolute;
    left: 0; bottom:0;
    background: linear-gradient(to left, rgba(0,0,0,0),#fcfaf8);
    z-index: 5;
}

.work_list{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 50%;
}
.work_list.moveAni{
    transition: .5s ease-out;
}


.work_list li{
    width: 100%;
    padding-right:40px;
    cursor: pointer;
}

.list_img{
    width: 300px;
    height: 50vh;
    /* height: 500px; */
    /* background-color: #c2aa93; */
    /* background: url(./img/main_img/work_img05.png) no-repeat 50% 0%; */
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 60vw;
    filter: grayscale(100%);
    transition: .5s;
}
.list_name{
    padding-top: 1vw;
    text-align: center;
}
.work_list li:hover .list_img{
    filter: grayscale(0%);
}
.moreBtn{display: none;}
/* 팝업 */
.hidden{overflow: hidden;}
.backon{
	width: 100%; height: 100%;
	position: fixed;
	left: 0; top: 0;
	z-index: 999;
	overflow: hidden;
	background-color: rgba(0,0,0,.4);
}
.closeBtn {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1.5%;
    top: 3%;
}
.closeBtn:before, .closeBtn:after {
	content:' ';
	position: absolute;
	left: 45%;
	height: 100%;
	width: 11.45%;
	background-color: #333;
}
.closeBtn:before {transform: rotate(45deg);}
.closeBtn:after {transform: rotate(-45deg);}

.detail_modal{
	display: none;
    width: 85%;
    height: 80vh;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: #fff;
    padding: 2.60415vw;
}

.detail_main_cont h2{
    padding-bottom:3.90625vw;
}
.work_main {
    height: 70vh;
}
.work_main .clearFix {
    width: 100%;
    height: 100%;
}
.work_main .clearFix::after{
    content:'';
    display: block;
    clear: both;
}
.work_event.fl{float: left;}
.work_comment.fr{float:right;}
.work_event{
    width: 45%;
    height: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.mokup_img_top{
    max-width: 600px;
    width: 100%;
    margin:auto;
    font-size: 0;
    z-index: 5;
    /* background: url(./img/main_img/work_img05.png) no-repeat; */
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: 0 0;
    transition: 10s;
}
.mokup_img_top:hover{
    background-position: 0 100%;
}
.mokup_img_bottom{
    z-index: -5;
    font-size: 0;
}

.link_btn_area{
    display: flex;
    justify-content: center;
    padding-top: 1.041666vw;
}
.link_btn_area li{
    margin-right:2.60415vw;
}
.link_btn_area li:last-child{margin-right: 0;}
.link_btn_area li a{
    font-size: 0.9375vw;
    color:#fff;
    font-weight: bold;
    padding:.5208333vw 1.041665vw;
    background-color: #d1b1a2;
    transition: .3s;
}

.link_btn_area li a:hover{
    background-color: #755232;
}


.work_comment{
    width: 53%;
    height: 100%;
    overflow-y: scroll;
    text-align: left;
}
.work_comment::-webkit-scrollbar {width: 5px;}
.work_comment::-webkit-scrollbar-track {background: #f7f2ed;}
.work_comment::-webkit-scrollbar-thumb {
    background: #755232;
    border-radius: 10px;
}

.thisPage {
    padding-right:40px;
}
.thisPage li{
    line-height: 1.75;
}
.refer li{
    list-style: inside;
    padding-left: 1em;
}

.code_area{padding-top:15px;}
.code_main{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}


/* 팝업 next prev */
.detail_modal .prevBtn,
.detail_modal .nextBtn{
    content: '';
    display: block;
    width: 15px; height: 15px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #755232;
    z-index: 10;
    position: absolute;
    opacity: .2;
    transition: .5s;
    cursor: pointer;
}

.detail_modal .prevBtn{
    top:50%; left:1%;
    transform: translate(-1%,-50%) rotate(-135deg);
}
.detail_modal .nextBtn{
    top:50%; right:1%;
    transform: translate(-1%,-50%) rotate(45deg);
}

.detail_modal .prevBtn:hover,
.detail_modal .nextBtn:hover{opacity: 1;}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .its_me{width: 100%;}
    .its_me.in_about {
        max-width: 300px;
        width: 30%;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .sp_only{position: relative;;}
    .its_me.in_about {
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: unset;
        width: 95%;
        padding:4vw 0;
        position:  sticky;
        right: 0;
        top: 5%;
        transform: translate(0%,-5%);
        transition: .5s;
    }
    .its_me.in_about .my_photo {
        width: 140px !important;
        margin-right: 1.2vw;
    }
    .its_me .my_photo img {
        max-width: 600%;
    }
    .its_me.in_about .hello {
        display: inline-block;
        width: 50%;
        padding:0;
    }
    .its_me.in_about .page_nav a {
        font-size: 1.2rem;
    }
    .its_me.in_about .page_nav {
        margin-bottom: 1.449275vw;
    }

    .about_cont, .skills_cont{
        float: unset;
        width: 90%; margin:auto;
        padding-top: 60vw;
    }
    .com_page {
        padding-top: 4.5vw;
    }

    .progress_bar li {
        flex-wrap: wrap;
        padding: 1.5vw 0;
    }
    .progress_bar li p {
        width: 100%;
    }
    .progress_bar li .skillPG {
        width: 100%;
    }
    progress {
        width: 100%;
        height: 4.2vw;
        margin-top: 2.0355vw;
    }

    .work_cont h2 {
        padding: 15vw 0;
    }

    .work_list{
        width: 100% !important;
        height: 75vh;
        flex-wrap: wrap;
        justify-content: center;
        transform: translate(0, 0) !important;
        position: unset;
    }
    .work_list li{
        max-width: 180px;
        width: 40%;
        padding:0 5.33333vw 4vw 0;
        cursor: pointer;
    }
    .work_list li:nth-of-type(2n){padding-right: 0;}

    .list_img{
        width: 100%;
        height: 20vh;
    }
    .list_name {
        padding-top: 3.5vw;
        font-size: 1.2rem;
    }

    .moreBtn{
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,#fcfaf8 90%);
        position: absolute;
        bottom:0; left:0;
    }
    .moreBtnTxt{
        max-width: 320px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        background: #755232;
        color:#f7f2ed;
        font-weight: 500;
        padding: 3vw 0;
        margin-bottom: 5vw;
    }

    .slideArea::after,
    .slideArea::before{display: none;}


    .detail_modal {
        max-width: 85%;
        width: 95%;
        height: unset;
        padding: 6.3333vw;
        overflow: hidden;
    }
    .closeBtn{right: 3.5%;}
    .detail_main_cont h2 {
        padding-bottom: 5.33333vw;
        font-size: 1.8rem;
    }

    .work_event.fl,
    .work_comment.fr{float:unset;}
    .work_event {
        width: 100%; height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 3.3389vw;
        padding-left: 2vw;
    }
    .work_comment {
        width: 100%;
        height: 45vh;
    }

    .mokup_img {
        width: 60%;
    }
    .link_btn_area {
        display: block;
        width: 40%;
        padding: 0;
    }
    .link_btn_area li{
        margin-right: 0;
        margin-bottom: 2.3333vw;
    }
    .link_btn_area li:last-child{margin-bottom: 0;}
    .link_btn_area li a {
        font-size: 1.2rem;
        padding: 2vw 4vw;
        font-weight: 500;
    }
    .thisPage {
        padding: 0 2.666666vw 6.66666vw;
    }
    .thisPage li {
        font-size: 1.4rem;
    }
    .thisPage li > p.fs14{font-size: 1.2rem;}


    .detail_modal .prevBtn,
    .detail_modal .nextBtn {
        content: '';
        width: 12px;
        height: 12px;
    }
    .detail_modal .prevBtn {
        top: 38%;
        left: 3%;
        transform: translate(-3%,-38%) rotate(-135deg);
    }
    .detail_modal .nextBtn {
        top: 38%;
        right: 3%;
        transform: translate(-3%,-38%) rotate(45deg);
    }
}